<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% assets "main_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <title>{% block title %} {% endblock %}</title>
</head>
<body>
  <nav class="mainNav">
    <div class="container">
      <a href="/" class="brand">EZ$ & Buying</a>

      <div class="mainNav-links">
        {% if g.token %}
          <i class="mainNav-item fas fa-user-circle active" id="user">
            <!-- <div class="nameTag">{{g.username}}</div> -->
            <nav class="userNav">
              <a href="{{ url_for('login') }}">Mi Cuenta</a>
              <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        
          </i>
        {% else %}
          <i class="mainNav-item fas fa-user-circle" id="user">
          
            <nav class="userNav">
              <a href="{{ url_for('login') }}">Ingresar</a>
              <a href="{{ url_for('signup') }}">Crear cuenta</a>
            </nav>
          </i>
        {% endif %}
    
        <a href="{{ url_for('cart')}}" class="mainNav-item" id="cart">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
  
</body>
</html>